<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link  rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Style/StyleSheet.css" />

</head>
<body>
    <div>
        <h1>this is a layout test</h1>
        @RenderBody()
    </div>
</body>
</html>
