<!DOCTYPE html>

<html lang="en">
<head>
    @*-------------------------------------- Meta --------------------------------------------*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title</title>
    @*-------------------------------------- stylesheets -------------------------------------*@
    <link  rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Style/StyleSheet.css" />
    <style>
        body {
            background-color: #003F62;
            /*width: 100%;
            background-image: url('img/copper1920.jpg');*/
        }
        nav {
            background-color: #ffffff;
        }
        /*.nav-link{
            color: #FFFFFF;
        }*/

        .navbar-brand img{
            width: 30%;
        }
        footer {
            background-color: #2A2D34;
            color: #A5A5A5;
        }
        /*Not really sure why this does not work.*/
        /*.nav-link {
            color: #ffffff;
        }*/
        .jumbotron-fluid img {
            width: 100%;
        }
    </style>

</head>
<body>
    @*--------------------------------------- Nav Bar ----------------------------------------*@
    
    <nav class="navbar navbar-toggleable-md fixed-top navbar-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarMobile" aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img id="logo" src="~/img/LogoCut.png" /></a>

        <div class="collapse navbar-collapse" id="navbarMobile">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a id="link" class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>         
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p>&copy; Copyright 2018 Pacific Quality Construction</p>
            </div>
            </div>
        </div>
    </footer>
    @*---------------------------- Bootstrap Scripts -----------------------------------------------*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/tether/dist/js/tether.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>
