<!DOCTYPE html>

<html lang="en">
<head>
    @*-------------------------------------- Meta --------------------------------------------*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title</title>
    @*-------------------------------------- stylesheets -------------------------------------*@
    <link  rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Style/StyleSheet.css" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</head>
<body>
    @*--------------------------------------- Nav Bar ----------------------------------------*@
    
    <div class="navbar navbar-dark">
        <a class="navbar-brand" href="#"><img src="~/img/Logo.png" width="200" /></a>

    </div>   
    <div>
        @RenderBody()
    </div>
</body>
</html>
