<!DOCTYPE html>

<html lang="en">
<head>
    @*-------------------------------------- Meta --------------------------------------------*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title</title>
    @*-------------------------------------- stylesheets -------------------------------------*@
    <link  rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Style/StyleSheet.css" />


</head>
<body>
    @*--------------------------------------- Nav Bar ----------------------------------------*@
    
    @*<nav class="navbar navbar-toggleable-md navbar-dark">
        <a class="navbar-brand" href="#"><img src="~/img/Logo.png" width="200" /></a>

    </nav>*@   

    @*<ul class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>      
    </ul>*@

    <nav class="navbar navbar-toggleable-md navbar-light" style="background-color:aqua">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarMobile" aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img class="NavLogo"src="~/img/Logo.png" width="200" /></a>

        <div class="collapse navbar-collapse" id="navbarMobile">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>         
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    @*---------------------------- Bootstrap Scripts -----------------------------------------------*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/tether/dist/js/tether.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>
