@{ 
    Layout = "_Layout";
}


<div class="container">
    
    <div class="col-sm-12 col-md-12 col-lg-12 companyInfo">
        <h2>Pacific Quality Construction</h2>
        <ul>
            <li>(206)434-2713</li>
            <li>operations@pqconstruction.us</li>
        </ul>
        <ul>
            <li>1617 Jones Ave NE</li>
            <li>Renton, WA 98056</li>
        </ul>

    </div>
</div>