
@{ 
    Layout = "_Layout";
}

@*<div class="jumbotron-fluid">
    <img src="~/img/copper1920.jpg"  />
</div>*@

@*<div class="parallax"></div>*@
@*<div class="container-fluid blue-container">*@
    <div class="parallax-section">
        <div class="container parallax-section-content">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <p>
                            Going forward, our corporate proposition will deliver value to capabilities. Is your innovation
                            prepared for world-class executive search growth? Conservatively incentivizing proactively value-added
                            dot-bombs is crucial to our holistic bandwidth. Immersive core assets ethically enable senior deliverables
                            for our synergies.
                        </p>
                    </div>
                </div>
            </div>
        </div>
@*</div>*@

@* ---------------------------------------- Services Carousel----------------------------------------- *@
<div class="parallax-jumbotron">
    <div class="container parallax-section-content">
        @*<div class="jumbotron">*@
            <h2>Services</h2>
            <div id="carousel-services" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                   <li data-target="#carousel-services" data-slide-to="0" class="active"></li>
                   <li data-target="#carousel-services" data-slide-to="1" class="active"></li>
                   <li data-target="#carousel-services" data-slide-to="2" class="active"></li>
                   <li data-target="#carousel-services" data-slide-to="3" class="active"></li>
               </ol>
               <div class="carousel-inner" role="listbox">
                   <div class="carousel-item active">
                       <img class="d-block w-100" src="http://via.placeholder.com/900x300" alt="First Slide"/>
                       <div class="carousel-caption d-none d-md-block">
                           <h3>First Slide Lable</h3>
                           <p>Going forward, our holistic enterprise will deliver value to stand-ups.</p>
                       </div>
                   </div>
               </div> 
        
            </div>

        @*</div>*@
    </div>
</div>