
@{ 
    Layout = "_Layout";
}

@*<div class="jumbotron-fluid">
    <img src="~/img/copper1920.jpg"  />
</div>*@

@*<div class="parallax"></div>*@
<div class="container-fluid">
    <div class="parallax-section">
        <div class="container parallax-section-content">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <p>
                            Going forward, our corporate proposition will deliver value to capabilities. Is your innovation
                            prepared for world-class executive search growth? Conservatively incentivizing proactively value-added
                            dot-bombs is crucial to our holistic bandwidth. Immersive core assets ethically enable senior deliverables
                            for our synergies.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>