@{ 
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p>Your Message has been submitted</p>
            <button class="btn btn-success" value="close" asp-controller="Home" asp-action="Index"></button>
        </div>
    </div>
</div>